/*GOOGLE FONTS*/
@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,500,700&subset=latin-ext");
/*GENERATED FONTS*/
@font-face {
  font-family: 'Adelle-Bold';
  src: url("../fonts/Adelle-Bold/Adelle-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Adelle-Bold/Adelle-Bold.woff") format("woff"), url("../fonts/Adelle-Bold/Adelle-Bold.ttf") format("truetype"), url("../fonts/Adelle-Bold/Adelle-Bold.svg#Adelle-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ProximaNova-Bold';
  src: url("../fonts/ProximaNova-Bold/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Bold/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold/ProximaNova-Bold.ttf") format("truetype"), url("../fonts/ProximaNova-Bold/ProximaNova-Bold.svg#ProximaNova-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ProximaNova-Regular';
  src: url("../fonts/ProximaNova-Regular/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular/ProximaNova-Regular.ttf") format("truetype"), url("../fonts/ProximaNova-Regular/ProximaNova-Regular.svg#ProximaNova-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
/*****************************
GENERAL VARIABLES
*****************************/
/*****************************
HEADER VARIABLES
*****************************/
/*****************************
MAIN VARIABLES
*****************************/
/**********NEWS SECTION**********/
/**********COMMENTS SECTION**********/
/**********LATEST SECTION**********/
/**********SIGNUP SECTION**********/
/*****************************
FOOTER VARIABLES
*****************************/
/*****************************
SINGLE-PAGE VARIABLES
*****************************/
/*****************************
ABOUT-PAGE VARIABLES
*****************************/
/*****************************
CONTACT-PAGE VARIABLES
*****************************/
/*GENERAL STYLE*/
html {
  font-size: 14px; }

body {
  font-family: "Ubuntu", sans-serif;
  background: radial-gradient(circle, #EFEFEF 0%, #FFFFFF 100%);
  color: #363739; }

img {
  max-width: 100%;
  background-size: cover; }

h1 {
  font-size: 2.64rem;
  font-family: "Adelle-Bold"; }

h4 {
  font-size: 1.43rem;
  font-family: "Adelle-Bold"; }

a {
  text-decoration: none !important; }

.bottom-after {
  height: 3px;
  width: 57px;
  background: #E2322B;
  margin-top: 0.7rem; }

.image-zoom {
  transform: scale(1.3); }

.zoom-to-get {
  transition: 0.5s linear; }

.img-holder {
  position: relative;
  background: #ccc url("assets/logo-small.png") no-repeat center center;
  background-size: 80px auto;
  overflow: hidden;
  display: block; }
  .img-holder:after {
    content: '';
    display: block;
    width: 100%; }
  .img-holder.size-1by1:after {
    padding-top: 100%; }
  .img-holder.size-4by3:after {
    padding-top: 75%; }
  .img-holder.size-16by9:after {
    padding-top: 56.25%; }
  .img-holder.size-project:after {
    padding-top: 58.75%; }
  .img-holder.size-banner:after {
    padding-top: 25.16%; }
  .img-holder img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }

main {
  margin-top: 52.5px; }

/**********************SS BREAKPOINT**********************/
@media (min-width: 450px) {
  main {
    margin-top: 68px; } }
/**********************SM BREAKPOINT**********************/
@media (min-width: 576px) {
  main {
    margin-top: 90px; } }
/**********************lg BREAKPOINT**********************/
@media (min-width: 992px) {
  .bottom-after {
    margin-top: 1rem; } }
/* Buzz Out */
@-webkit-keyframes buzz {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg); }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg); }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg); }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg); }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg); }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg); }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg); }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg); }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0); }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0); } }
@keyframes buzz {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg); }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg); }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg); }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg); }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg); }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg); }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg); }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg); }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0); }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0); } }
.buzz {
  display: block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); }

.buzz:hover, .buzz:focus, .buzz:active {
  -webkit-animation-name: buzz;
  animation-name: buzz;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }

.animation {
  visibility: hidden;
  position: relative;
  animation-fill-mode: forwards;
  opacity: 0; }

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(50%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@-webkit-keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(50%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
.slideLeft {
  animation-name: slideLeft;
  visibility: visible;
  animation-duration: 1s;
  opacity: 1; }

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-50%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@-webkit-keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-50%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
.slideRight {
  animation-name: slideRight;
  visibility: visible;
  animation-duration: 1s;
  opacity: 1; }

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(50%); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
@-webkit-keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(50%); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
.slideUp {
  animation-name: slideUp;
  visibility: visible;
  animation-duration: 1s; }

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-50%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@-webkit-keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-50%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
.slideDown {
  animation-name: slideDown;
  visibility: visible;
  animation-duration: 1s;
  opacity: 1; }

.zoom {
  animation-name: zoom;
  visibility: visible;
  animation-duration: 2s;
  opacity: 1; }

@keyframes zoom {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }
@-webkit-keyframes zoom {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }
.form-control-success,
.form-control-warning,
.form-control-danger {
  padding-right: 2.25rem;
  background-repeat: no-repeat;
  background-position: center right 0.5625rem;
  -webkit-background-size: 1.125rem 1.125rem;
  background-size: 1.125rem 1.125rem; }

.has-success .form-control-feedback,
.has-success .form-control-label,
.has-success .col-form-label,
.has-success .form-check-label,
.has-success .custom-control {
  color: #5cb85c; }

.has-success .form-control {
  border-color: #5cb85c; }

.has-success .input-group-addon {
  color: #5cb85c;
  border-color: #5cb85c;
  background-color: #eaf6ea; }

.has-success .form-control-success {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%235cb85c' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E"); }

.has-warning .form-control-feedback,
.has-warning .form-control-label,
.has-warning .col-form-label,
.has-warning .form-check-label,
.has-warning .custom-control {
  color: #f0ad4e; }

.has-warning .form-control {
  border-color: #f0ad4e; }

.has-warning .input-group-addon {
  color: #f0ad4e;
  border-color: #f0ad4e;
  background-color: white; }

.has-warning .form-control-warning {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23f0ad4e' d='M4.4 5.324h-.8v-2.46h.8zm0 1.42h-.8V5.89h.8zM3.76.63L.04 7.075c-.115.2.016.425.26.426h7.397c.242 0 .372-.226.258-.426C6.726 4.924 5.47 2.79 4.253.63c-.113-.174-.39-.174-.494 0z'/%3E%3C/svg%3E"); }

.has-danger .form-control-feedback,
.has-danger .form-control-label,
.has-danger .col-form-label,
.has-danger .form-check-label,
.has-danger .custom-control {
  color: #d9534f; }

.has-danger .form-control {
  border-color: #d9534f !important; }

.has-danger .input-group-addon {
  color: #d9534f;
  border-color: #d9534f;
  background-color: #fdf7f7; }

.has-danger .form-control-danger {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23d9534f' viewBox='-2 -2 7 7'%3E%3Cpath stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/%3E%3Ccircle r='.5'/%3E%3Ccircle cx='3' r='.5'/%3E%3Ccircle cy='3' r='.5'/%3E%3Ccircle cx='3' cy='3' r='.5'/%3E%3C/svg%3E"); }

.error-msg > * {
  color: #d9534f; }

/**********************HEADER GENERAL STYLE**********************/
header {
  border-bottom: 1px solid header-border-bottom-color;
  box-shadow: 0 2px 4px 0 #F0F7FF;
  background-color: #fff;
  /*navigation*/ }
  header .navbar {
    align-items: stretch;
    transition: 0.5s linear;
    /*navigation logo*/
    /*report button*/
    /*hamburger collapse*/
    /*main menu*/ }
    header .navbar .navbar-brand {
      align-self: center;
      max-width: 40%;
      transition: 0.5s linear; }
    header .navbar .nav-report {
      font-family: "Ubuntu", sans-serif;
      font-weight: bold;
      color: #fff;
      font-size: 0.7rem;
      align-self: center; }
    header .navbar .navbar-toggler {
      border: 1px solid #363739; }
    header .navbar .hamburger {
      transform: scale(0.6);
      align-self: center; }
    header .navbar .navbar-collapse {
      align-items: stretch; }
    header .navbar .navbar-nav .nav-item:last-of-type .nav-link {
      border-bottom: none; }
    header .navbar .navbar-nav .nav-link {
      text-align: center;
      color: #363739 !important;
      font-family: "ProximaNova-Regular";
      font-size: 1.14rem;
      letter-spacing: 0;
      padding: 0.5rem 1.14rem;
      border-bottom: 1px solid #000; }
      header .navbar .navbar-nav .nav-link:hover, header .navbar .navbar-nav .nav-link.active {
        color: #000 !important;
        background-color: #cfd0d2; }

/**********************SS BREAKPOINT**********************/
@media (min-width: 450px) {
  header .navbar .hamburger {
    transform: scale(0.7); } }
/**********************SM BREAKPOINT**********************/
@media (min-width: 576px) {
  header .navbar {
    /*header resize on scroll*/ }
    header .navbar .header-scroll-height {
      max-width: 25%; } }
/**********************LG BREAKPOINT**********************/
@media (min-width: 992px) {
  header .navbar {
    /*navigation logo*/
    /*header resize on scroll*/
    /*main menu*/ }
    header .navbar .navbar-brand {
      max-width: 30%; }
    header .navbar .header-scroll-height {
      max-width: 15%; }
    header .navbar .navbar-nav .nav-item:last-of-type .nav-link {
      border-bottom: 3px solid transparent; }
      header .navbar .navbar-nav .nav-item:last-of-type .nav-link:hover {
        color: #686a6d !important;
        background-color: transparent;
        border-bottom: 3px solid #E2322B; }
      header .navbar .navbar-nav .nav-item:last-of-type .nav-link.active {
        font-weight: bold;
        background-color: transparent;
        border-bottom: 3px solid #E2322B; }
    header .navbar .navbar-nav .nav-item {
      display: flex; }
    header .navbar .navbar-nav .nav-link {
      display: flex;
      align-items: center;
      color: #363739 !important;
      font-family: "ProximaNova-Regular";
      font-size: 1.14rem;
      letter-spacing: -0.17px;
      padding: 0.5rem 0.7rem;
      border-bottom: 3px solid transparent;
      border-top: 3px solid transparent; }
      header .navbar .navbar-nav .nav-link:hover {
        color: #686a6d !important;
        background-color: transparent;
        border-bottom: 3px solid #E2322B; }
      header .navbar .navbar-nav .nav-link.active {
        font-weight: bold;
        background-color: transparent;
        border-bottom: 3px solid #E2322B; } }
/**********************XL BREAKPOINT**********************/
@media (min-width: 1200px) {
  header .navbar .navbar-nav {
    /*main menu*/ }
    header .navbar .navbar-nav .nav-link {
      padding: 0.5rem 1.14rem; } }
/**********************NEWS SECTION GENERAL STYLE**********************/
.news .news-item-pic {
  border-radius: 3px;
  /*        img{
              transition: 0.5s linear;
          }*/ }
.news .news-item-title {
  line-height: 1.93rem;
  max-height: 5.79rem;
  letter-spacing: -0.22px;
  overflow: hidden; }
.news .news-item-small {
  border-radius: 8px;
  background-color: #FFFFFF;
  box-shadow: 0 15px 14px -10px rgba(88, 112, 148, 0.31); }
  .news .news-item-small .news-item-pic {
    width: 100%; }
  .news .news-item-small .news-item-title-wrap {
    width: 100%; }
  .news .news-item-small .news-item-description {
    letter-spacing: -0.17px;
    line-height: 1.5rem;
    max-height: 3rem;
    overflow: hidden; }

/**********************SS BREAKPOINT**********************/
@media (min-width: 450px) {
  .news .news-item-small .news-item-pic {
    width: 33%; }
  .news .news-item-small .news-item-title-wrap {
    width: 67%; } }
/**********************Sm BREAKPOINT**********************/
@media (min-width: 576px) {
  .news .news-item-big .news-item-pic {
    margin-bottom: 17px !important; }
  .news .news-item-small .news-item-pic {
    width: 100%; }
  .news .news-item-small .news-item-title-wrap {
    width: 100%; } }
/**********************MD BREAKPOINT**********************/
@media (min-width: 768px) {
  .news .news-item-small .news-item-pic {
    width: 33%; }
  .news .news-item-small .news-item-title-wrap {
    width: 67%; } }
/**********************LG BREAKPOINT**********************/
@media (min-width: 992px) {
  .news {
    padding: 31px 0 15px !important; } }
/**********************COMMENTS SECTION GENERAL STYLE**********************/
.comments .comments-item {
  position: relative;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 15px 14px -10px rgba(88, 112, 148, 0.31); }
  .comments .comments-item:after {
    position: absolute;
    content: '';
    display: block;
    border: 12px solid transparent;
    border-top: 12px solid #fff;
    bottom: -24px;
    right: 24px; }
  .comments .comments-item .comments-title {
    font-family: "ProximaNova-Bold";
    font-size: 1.14rem;
    line-height: 1.36rem;
    /*            .fa{
                    position: absolute;
                    color: $comments-title-faIcon-color;
                    font-size: $comments-title-faIcon-font-size;
                    left: 0;
                }*/ }
    .comments .comments-item .comments-title:before {
      content: '&rdquo;';
      color: #9DC72D; }
  .comments .comments-item .comments-content {
    font-family: "ProximaNova-Regular";
    font-size: 0.93rem;
    line-height: 1.26rem; }

/**********************SS BREAKPOINT**********************/
@media (min-width: 450px) {
  .comments .comments-item {
    width: 75%;
    /*            &:nth-of-type(odd){
                    margin-right: auto;
                    &:after{
                    left: 24px;
                    right: none;
                }
                }
                &:nth-of-type(even){
                    margin-left: auto !important;
                }*/ } }
/**********************SM BREAKPOINT**********************/
@media (min-width: 576px) {
  .comments .comments-item {
    width: 100%; } }
/**********************LATEST SECTION GENERAL STYLE**********************/
.latest .latest-ahead .latest-title {
  letter-spacing: -0.49px;
  line-height: 2.7rem;
  font-size: 2rem; }
.latest .latest-ahead .latest-all {
  font-family: "ProximaNova-Bold";
  font-size: 1.14rem;
  line-height: 1.43rem;
  letter-spacing: 0.16px; }
  .latest .latest-ahead .latest-all a {
    position: relative;
    padding-right: 25px;
    color: #E2322B !important; }
    .latest .latest-ahead .latest-all a:hover {
      color: #c0211a !important; }
      .latest .latest-ahead .latest-all a:hover .fa {
        color: #c0211a !important; }
    .latest .latest-ahead .latest-all a .fa {
      position: absolute;
      font-size: 2rem;
      right: 0;
      bottom: -3px;
      color: #E2322B !important; }
.latest .latest-item {
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 15px 14px -10px rgba(88, 112, 148, 0.31);
  margin-bottom: 20px; }
  .latest .latest-item .latest-item-content {
    padding: 26px 23px;
    border-bottom: 1px solid #EBEBEB; }
    .latest .latest-item .latest-item-content .latest-item-content-pic {
      margin-bottom: 19px;
      border-radius: 3px; }
    .latest .latest-item .latest-item-content .latest-item-content-description {
      font-family: "Ubuntu", sans-serif;
      font-weight: 400;
      color: #464646;
      line-height: 1.64rem;
      letter-spacing: -0.09px;
      height: 8.2rem;
      overflow: hidden; }
  .latest .latest-item .latest-item-info {
    padding: 11px 23px 17px;
    font-size: 0.86rem;
    line-height: 1.29rem;
    letter-spacing: 0.17px; }
    .latest .latest-item .latest-item-info .latest-item-info-date {
      color: #AFAFAF; }
    .latest .latest-item .latest-item-info .latest-item-info-comments a {
      color: #E2322B;
      position: relative;
      padding-left: 20px; }
      .latest .latest-item .latest-item-info .latest-item-info-comments a .fa {
        font-size: 1.2rem;
        position: absolute;
        left: 0; }
.latest .banner {
  /*        .latest-item-info{
              display: none !important;
          }*/ }
  .latest .banner .latest-item-content {
    border-bottom: none; }
    .latest .banner .latest-item-content .latest-item-content-pic {
      margin-bottom: 11px;
      position: relative; }
    .latest .banner .latest-item-content .latest-item-content-description {
      height: 4.92rem !important; }
  .latest .banner .banner-pic-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 39px 12px 11px;
    border-radius: 3px;
    background: linear-gradient(180deg, rgba(97, 97, 99, 0) 0%, #000000 100%); }
    .latest .banner .banner-pic-caption .banner-pic-caption-time,
    .latest .banner .banner-pic-caption .banner-pic-caption-newspaper {
      font-family: "Ubuntu", sans-serif;
      font-weight: 500;
      font-size: 0.86rem;
      line-height: 1.14rem;
      letter-spacing: 0.05px; }
    .latest .banner .banner-pic-caption .banner-pic-caption-time {
      color: #E2322B; }
    .latest .banner .banner-pic-caption .banner-pic-caption-newspaper {
      color: #fff; }
    .latest .banner .banner-pic-caption .banner-pic-caption-comments {
      position: relative; }
      .latest .banner .banner-pic-caption .banner-pic-caption-comments img {
        transform: scale(0.7); }
      .latest .banner .banner-pic-caption .banner-pic-caption-comments .banner-pic-caption-comments-number {
        position: absolute;
        left: 50%;
        top: 27%;
        transform: translateX(-50%);
        font-family: "Ubuntu", sans-serif;
        font-weight: bold;
        color: #fff;
        font-size: 0.5rem;
        line-height: 0.71rem; }

/**********************SM BREAKPOINT**********************/
@media (min-width: 576px) {
  .latest .latest-ahead .latest-title {
    line-height: 3.71rem;
    font-size: 2.64rem; } }
/**********************MD BREAKPOINT**********************/
@media (min-width: 768px) {
  .latest .latest-ahead {
    margin-bottom: 26px !important; }
  .latest .latest-item {
    margin-bottom: 26px; } }
/**********************LG BREAKPOINT**********************/
@media (min-width: 992px) {
  .latest {
    padding-top: 72px !important;
    padding-bottom: 112px !important; } }
/**********************SIGNUP SECTION GENERAL STYLE**********************/
.signup {
  background-color: #EAEAEA;
  box-shadow: 0 15px 14px -10px rgba(88, 112, 148, 0.31); }
  .signup .signup-info-icon .signup-info-icon-border {
    background: #fff;
    border-radius: 50%;
    height: 92px;
    width: 92px; }
  .signup .signup-info-icon .fa-info-circle {
    color: #E2322B;
    font-size: 4.3rem;
    line-height: 6.57rem; }
  .signup .signup-info-text {
    font-family: "Adelle-Bold";
    font-size: 1.5rem;
    color: #363739;
    line-height: 2.07rem;
    letter-spacing: -0.29px; }
  .signup .signup-button .btn {
    padding: 14px 72px;
    border-radius: 3px;
    font-family: "ProximaNova-Bold";
    color: #fff;
    font-size: 1.07rem;
    line-height: 1.43rem;
    letter-spacing: 0.15px; }
    .signup .signup-button .btn:hover {
      color: #fff; }

/**********************LG BREAKPOINT**********************/
@media (min-width: 992px) {
  .signup {
    padding: 26px 0 !important; } }
/**********************LATEST SECTION GENERAL STYLE**********************/
/*NO SPECIAL STYLE NEEDED, 
CHANGES IN COMPARISON TO LATEST-SECTION MADE IN HTML THROUGH BOOTRSTAP CLASSES*/
/**********************LATEST SECTION GENERAL STYLE**********************/
.single-news-page-section .single-news-all-comments {
  font-family: "ProximaNova-Bold";
  font-size: 1.14rem;
  line-height: 1.43rem;
  letter-spacing: 0.16px; }
  .single-news-page-section .single-news-all-comments a {
    position: relative;
    padding-right: 25px;
    color: #E2322B !important; }
    .single-news-page-section .single-news-all-comments a:hover {
      color: #c0211a !important; }
      .single-news-page-section .single-news-all-comments a:hover .fa {
        color: #c0211a !important; }
    .single-news-page-section .single-news-all-comments a .fa {
      position: absolute;
      font-size: 2rem;
      right: 0;
      bottom: -3px;
      color: #E2322B !important; }
.single-news-page-section .single-news-header {
  border-bottom: 1px solid #EBEBEB; }
  .single-news-page-section .single-news-header .single-news-item-info {
    font-size: 0.86rem;
    line-height: 1.29rem;
    letter-spacing: 0.17px; }
    .single-news-page-section .single-news-header .single-news-item-info .single-news-item-info-date {
      color: #AFAFAF; }
    .single-news-page-section .single-news-header .single-news-item-info .single-news-item-info-comments a {
      color: #E2322B;
      position: relative;
      padding-left: 20px; }
      .single-news-page-section .single-news-header .single-news-item-info .single-news-item-info-comments a .fa {
        font-size: 1.2rem;
        position: absolute;
        left: 0; }
  .single-news-page-section .single-news-header .single-news-item-title {
    letter-spacing: -0.22px;
    line-height: 2.7rem;
    font-size: 2rem; }
  .single-news-page-section .single-news-header .single-news-item-description {
    color: #464646;
    font-size: 1.43rem;
    line-height: 1.79rem;
    letter-spacing: -0.09px;
    margin-bottom: 27px; }
.single-news-page-section .single-news-item-content p {
  letter-spacing: -0.17px; }
.single-news-page-section .single-news-form {
  margin-bottom: 25px; }
  .single-news-page-section .single-news-form .single-news-form-ahead .single-news-form-title {
    line-height: 27px;
    letter-spacing: -0.22px; }
  .single-news-page-section .single-news-form .single-news-form-item {
    font-family: "ProximaNova-Regular";
    color: #333333;
    font-size: 1.14rem;
    line-height: 1.14rem;
    letter-spacing: 0.06px; }
    .single-news-page-section .single-news-form .single-news-form-item input,
    .single-news-page-section .single-news-form .single-news-form-item textarea {
      border: none;
      background-color: #fff;
      border-radius: 3px; }
    .single-news-page-section .single-news-form .single-news-form-item textarea {
      height: 19.35rem;
      line-height: 1.29rem; }
    .single-news-page-section .single-news-form .single-news-form-item .single-news-form-check-answer {
      height: 47px;
      width: 104px; }
    .single-news-page-section .single-news-form .single-news-form-item .single-news-form-btn {
      font-family: "Ubuntu", sans-serif;
      font-weight: bold;
      font-size: 1rem;
      line-height: 1.36rem;
      letter-spacing: 0.17px;
      border-radius: 3px;
      padding: 13px 18px; }
.single-news-page-section .single-news-comments .single-news-comments-item {
  margin-bottom: 18px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 15px 14px -10px rgba(88, 112, 148, 0.31); }
  .single-news-page-section .single-news-comments .single-news-comments-item:last-of-type {
    margin-bottom: 31px; }
  .single-news-page-section .single-news-comments .single-news-comments-item .single-news-comments-user-pic {
    height: 45px;
    width: 45px;
    border-radius: 50%; }
  .single-news-page-section .single-news-comments .single-news-comments-item .single-news-comments-user-name {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    color: #161616;
    font-size: 0.86rem;
    line-height: 1.07rem;
    letter-spacing: 0.26px; }
  .single-news-page-section .single-news-comments .single-news-comments-item .single-news-comments-user-date {
    font-size: 0.71rem;
    color: #AFAFAF;
    letter-spacing: 0.14px;
    line-height: 1.29rem; }
  .single-news-page-section .single-news-comments .single-news-comments-item .single-news-comments-content {
    font-size: 0.86rem;
    line-height: 1.21rem;
    letter-spacing: -0.15px; }
.single-news-page-section .single-news-comments .single-news-all-comments a {
  color: #363739 !important; }
  .single-news-page-section .single-news-comments .single-news-all-comments a:hover {
    color: #686a6d !important; }
    .single-news-page-section .single-news-comments .single-news-all-comments a:hover .fa {
      color: #686a6d !important; }
  .single-news-page-section .single-news-comments .single-news-all-comments a .fa {
    color: #363739 !important; }

.single-news-page-aside {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

/**********************SS BREAKPOINT**********************/
@media (min-width: 450px) {
  .single-news-page-section .single-news-header .single-news-item-info .single-news-item-info-date,
  .single-news-page-section .single-news-header .single-news-item-info .single-news-item-info-author {
    margin-right: 25px !important; } }
/**********************SM BREAKPOINT**********************/
@media (min-width: 576px) {
  .single-news-page-section .single-news-header .single-news-item-title {
    line-height: 3.71rem;
    font-size: 2.64rem; }
  .single-news-page-section .single-news-item-title-wrapper {
    margin-bottom: 26px !important; }

  .single-news-page-aside .latest-item {
    width: 75%; } }
/**********************MD BREAKPOINT**********************/
@media (min-width: 768px) {
  .single-news-page-section .single-news-form .single-news-form-ahead {
    margin-bottom: 35px !important; }

  .single-news-page-aside .latest-item {
    width: 100%; } }
/**********************LG BREAKPOINT**********************/
@media (min-width: 992px) {
  .single-news-page-wrapper {
    padding: 60px 0 87px !important; }

  .single-news-page-section .single-news-item {
    margin-bottom: 26px !important; } }
/**********************SIGNUP SECTION GENERAL STYLE**********************/
footer {
  padding-bottom: 20px !important;
  padding-top: 25px !important; }
  footer .footer-navigation .footer-nav-list .footer-nav-link {
    display: inline-block;
    font-family: "ProximaNova-Bold";
    color: #fff;
    font-size: 1rem;
    line-height: 1.21rem;
    letter-spacing: -0.15px;
    padding: 5px 15px; }
    footer .footer-navigation .footer-nav-list .footer-nav-link:hover {
      color: #bfbfbf; }
  footer .footer-social .footer-social-link {
    display: inline-block;
    margin: 0 7px; }
    footer .footer-social .footer-social-link .fa {
      color: #fff;
      height: 30px;
      width: 30px;
      line-height: 30px; }
    footer .footer-social .footer-social-link .fa-facebook {
      background: #3b5998; }
    footer .footer-social .footer-social-link .fa-twitter {
      background: #00acee; }
    footer .footer-social .footer-social-link .fa-linkedin {
      background: #0077B5; }
    footer .footer-social .footer-social-link .fa-google-plus {
      background: #DD4B39; }
  footer .footer-copyright .footer-copyright-text {
    color: #fff;
    font-family: "ProximaNova-Regular";
    font-size: 0.86rem;
    letter-spacing: -0.13px;
    line-height: 1rem; }

/**********************LG BREAKPOINT**********************/
@media (min-width: 992px) {
  footer {
    padding-bottom: 34px !important;
    padding-top: 42px !important; }
    footer .footer-navigation {
      margin-bottom: 33px !important; } }

/*# sourceMappingURL=theme.css.map */
