
/**********************ABOUT PAGE GENERAL STYLE**********************/
.about-page{
    .about-page-pic{
        border-radius: $about-page-pic-border-rad;
        background-color: $about-page-pic-bg-color;
    }
    
    .about-page-description{
        color: $about-page-description-font-color;
        font-size: $about-page-description-font-size;
        letter-spacing: $about-page-description-letter-spacing;
        line-height: $about-page-description-line-height;
    }
    
    .about-page-content{
        letter-spacing: $about-page-content-letter-spacing;
    }
}

/**********************MD BREAKPOINT**********************/
@media(min-width: 768px){
    .about-page{
        .about-page-item{
            width: 67%;
        }
        
    }
}

/**********************LG BREAKPOINT**********************/
@media(min-width: 992px){
    .about-page{
        padding-top: $about-page-padd-top-desk;
        padding-bottom: $about-page-padd-bottom-desk;
        
        .about-page-pic{
            margin-bottom: $about-page-pic-margin-bottom-desk !important;
        }
        
        .about-page-description{
            margin-bottom: $about-page-description-margin-bottom-desk !important;
        }
    }
}