
/*GENERAL STYLE*/

html{
    font-size: 14px;
}

body{
    font-family: $font-ubuntu;
    background: radial-gradient(circle, #EFEFEF 0%, #FFFFFF 100%);
    color: $font-color-body;
}

img{
    max-width: 100%;
    //display: block;
    //width: 100%;
    background-size: cover;
}

h1{
    font-size: $h1-font-size;
    font-family: $font-adelle-bold;
}

h4{
    //position: relative;
    font-size: $h4-font-size;
    font-family: $font-adelle-bold;
}
a{
    text-decoration: none !important;
}

.bottom-after{
        height: $bottom-after-height;
        width: $bottom-after-width;
        background: $bottom-after-bg;
        margin-top: $bottom-after-marg-top-mobile;
    }

    //ZOOM ANIMATION CSS
.image-zoom{
    transform: scale(1.2);
}

.zoom-to-get{
    transition: 0.3s linear;
}

// Placeholder for image

.img-holder{
    position: relative;
    background: #ccc url('assets/logo-small.png') no-repeat center center;
    background-size: 80px auto;
    overflow:hidden;
    display:block;
    &:after{
        content: '';
        display: block;;
        width: 100%;
    }
    
    &.size-1by1{
        &:after{
            padding-top: 100%;
        }
    }
    &.size-4by3{
        &:after{
            padding-top: 75%;
        }
    }
    &.size-16by9{
        &:after{
            padding-top: 56.25%;
        }
    }
    &.size-project{
        &:after{
            padding-top: 58.75%;
        }
    }
    &.size-banner{
        &:after{
            padding-top: 25.16%;
        }
    }
    
    img{
        display: block;
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
    }
}

main{
    margin-top: 52.5px;
}

/**********************SS BREAKPOINT**********************/
@media(min-width: 450px){
    main{
        margin-top: 68px;
    }
}

/**********************SM BREAKPOINT**********************/
@media(min-width: 576px){
    main{
        margin-top: 90px;
    }
}

/**********************lg BREAKPOINT**********************/
@media(min-width: 992px){
    .bottom-after{
        margin-top: $bottom-after-marg-top-desk;
    }
}