
/*GOOGLE FONTS*/
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700&subset=latin-ext');
//font-family: 'Ubuntu', sans-serif;

/*GENERATED FONTS*/
@font-face {
  font-family: 'Adelle-Bold';
  src: url('../fonts/Adelle-Bold/Adelle-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Adelle-Bold/Adelle-Bold.woff') format('woff'), url('../fonts/Adelle-Bold/Adelle-Bold.ttf')  format('truetype'), url('../fonts/Adelle-Bold/Adelle-Bold.svg#Adelle-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('../fonts/ProximaNova-Bold/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNova-Bold/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold/ProximaNova-Bold.ttf')  format('truetype'), url('../fonts/ProximaNova-Bold/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('../fonts/ProximaNova-Regular/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNova-Regular/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular/ProximaNova-Regular.ttf')  format('truetype'), url('../fonts/ProximaNova-Regular/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
