
/**********************COMMENTS SECTION GENERAL STYLE**********************/
.comments{
    //comments item (article)
    .comments-item{
        position: relative;
        border-radius: $comments-item-border-rad;
        background-color: $comments-item-bg;
        box-shadow: $comments-item-box-shadow;
        //:after of item article (arrow down)
        &:after{
            position: absolute;
            content: '';
            display: block;
            border: $comments-item-arrow-border-width solid transparent;
            border-top: $comments-item-arrow-border-width solid $comments-item-arrow-border-color;
            bottom: $comments-item-arrow-bottom-position;
            right: $comments-item-arrow-right-position;
        }
        //comments title before style (double quote)
        .comments-title-before{
            position: absolute;
            color: $comments-title-before-color;
            font-size: $comments-title-before-font-size;
            font-weight: $comments-title-before-font-weight;
            top: 20px;
        }
        //comments title (header)
        .comments-title{
            font-family: $comments-title-font-family;
            font-size: $comments-title-font-size;
            line-height: $comments-title-line-height;
            position: relative;
            padding-left: $comments-title-padd-left;
        }
        //comments content (paragraph)
        .comments-content{
            font-family: $comments-content-font-family;
            font-size: $comments-content-font-size;
            line-height: $comments-content-line-height;
        }
    }
}

/**********************SS BREAKPOINT**********************/
@media(min-width: 450px){
    .comments{
        //coments item (article) resize between ss & sm breakpoint
        .comments-item{
            width: 75%;
        }
    }
}

/**********************SM BREAKPOINT**********************/
@media(min-width: 576px){
    .comments{
        //coments item (article) resize back to 100%
        .comments-item{
            width: 100%;
        }
    }
}

