
/**********************NEWS SECTION GENERAL STYLE**********************/
.news{
    //news picture figure
    .news-item-pic{
        border-radius: $news-picture-border-rad;
        
    }
    //news title
    .news-item-title{
        line-height: $news-item-title-line-height;
        max-height: $news-item-title-max-height;
        letter-spacing: $news-item-title-letter-spacing;
        overflow: hidden;
    }
    //smaller news (article)
    .news-item-small{
        border-radius: $news-item-small-border-rad;
        background-color: $news-item-small-bg;
        box-shadow: $news-item-small-box-shadow;
        .news-item-pic{
            width: 100%;
        }
        .news-item-title-wrap{
            width: 100%;
        }
        //news description (paragraph)
        .news-item-description{
            letter-spacing: $news-item-description-letter-spacing;
            line-height: $news-item-description-line-height;
            max-height: $news-item-description-max-height;
            overflow: hidden;
        }
    }
}

/**********************SS BREAKPOINT**********************/
@media(min-width: 450px){
    .news{
        //smaller news (article) picture & heading in same row
        .news-item-small{
            .news-item-pic{
                width: 33%;
            }
            .news-item-title-wrap{
                width: 67%;
            }
        }
    }
}

/**********************Sm BREAKPOINT**********************/
@media(min-width: 576px){
    .news{
        //picture (figure) in big news margin bottom since sm
        .news-item-big{
            .news-item-pic{
                margin-bottom: $news-big-picture-margin-bottom-sm !important;
            }
        }
        //smaller news (article) picture & heading one above another
        .news-item-small{
            .news-item-pic{
                width: 100%;
            }
            .news-item-title-wrap{
                width: 100%;
            }
        }
    }
}

/**********************MD BREAKPOINT**********************/
@media(min-width: 768px){
    .news{
        //smaller news (article) picture & heading in same row
        .news-item-small{
            .news-item-pic{
                width: 33%;
            }
            .news-item-title-wrap{
                width: 67%;
            }
        }
    }
}

/**********************LG BREAKPOINT**********************/
@media(min-width: 992px){
    //news section padding on desktop
    .news{
        padding: $news-section-padding-top-desk 0 $news-section-padding-bottom-desk !important;
    }
}