
/**********************COMMENTS SECTION GENERAL STYLE**********************/
.comments{
    .comments-item{
        position: relative;
        border-radius: $comments-item-border-rad;
        background-color: $comments-item-bg;
        box-shadow: $comments-item-box-shadow;
        &:after{
            position: absolute;
            content: '';
            display: block;
            border: $comments-item-arrow-border-width solid transparent;
            border-top: $comments-item-arrow-border-width solid $comments-item-arrow-border-color;
            bottom: $comments-item-arrow-bottom-position;
            right: $comments-item-arrow-right-position;
        }
        .comments-title{
            font-family: $comments-title-font-family;
            font-size: $comments-title-font-size;
            line-height: $comments-title-line-height;
            position: relative;
            padding-left: $comments-title-padd-left;
            &:before{
                content: '”';
                color: #9DC72D;
                font-size: 6rem;
                display: inline-block;
                position: absolute;
                left: 0;
                top: 100%;
                font-family: arial;
            }
/*            .fa{
                position: absolute;
                color: $comments-title-faIcon-color;
                font-size: $comments-title-faIcon-font-size;
                left: 0;
            }*/
        }
        .comments-content{
            font-family: $comments-content-font-family;
            font-size: $comments-content-font-size;
            line-height: $comments-content-line-height;
        }
    }
}

/**********************SS BREAKPOINT**********************/
@media(min-width: 450px){
    .comments{
        .comments-item{
            width: 75%;
/*            &:nth-of-type(odd){
                margin-right: auto;
                &:after{
                left: 24px;
                right: none;
            }
            }
            &:nth-of-type(even){
                margin-left: auto !important;
            }*/
        }
    }
}

/**********************SM BREAKPOINT**********************/
@media(min-width: 576px){
    .comments{
        .comments-item{
            width: 100%;
        }
    }
}

