
/*****************************
GENERAL VARIABLES
*****************************/
//fonts
$font-ubuntu: 'Ubuntu', sans-serif;
$font-adelle-bold: 'Adelle-Bold';
$font-proximanova-regular: 'ProximaNova-Regular';
$font-proximanova-bold: 'ProximaNova-Bold';
//font color
$font-color-body: #363739;
//header bottom after
$bottom-after-bg: $danger;
$bottom-after-height: 3px;
$bottom-after-width: 57px;
$bottom-after-marg-top-mobile: 0.7rem;
$bottom-after-marg-top-desk: 1rem;
//headers
$h1-font-size: 2.64rem;
$h4-font-size: 1.43rem;

/*****************************
HEADER VARIABLES
*****************************/
$header-bg-color: $white;
$header-border-bottom: 1px solid #EBEBEB;
$header-box-shadow: 0 2px 4px 0 #F0F7FF;
//report (button)
$header-report-font-weight: bold;
$header-report-color: #fff;
$header-report-font-size: 0.7rem;
//navbar toggler (hamburger button)
$header-navbar-toggler-border: 1px solid $black;
//navbar links style (a - general, mobile % desktop sizes)
$header-link-text-align: center;
$header-link-color-mobile: $primary;
$header-link-font-family-mobile: $font-proximanova-regular;
$header-link-font-size-mobile: 1.14rem;
$header-link-spacing-mobile: 0;
$header-link-padding-x-mobile: 1.14rem;
$header-link-padding-y-mobile: 0.5rem;
$header-link-hover-color-mobile: $black;
$header-link-border-bottom-mobile: 1px solid $header-link-hover-color-mobile;
$header-link-hover-bg-mobile: lighten($header-link-color-mobile, 60%);
$header-link-color-desk: $primary;
$header-link-font-family-desk: $font-proximanova-regular;
$header-link-font-size-desk: 1.14rem;
$header-link-spacing-desk: -0.17px;
//on lg breakpoint link-padding-x changed manually
$header-link-padding-x-desk: 1.14rem;
$header-link-padding-y-desk: 0.5rem;
$header-link-hover-color-desk: lighten($header-link-color-desk, 20%);
$header-link-hover-bg-desk: transparent;
$header-link-active-weight-desk: bold;

/*****************************
MAIN VARIABLES
*****************************/

/**********NEWS SECTION**********/
$news-section-padding-top-desk: 31px;
$news-section-padding-bottom-desk: 15px;
//news picture (figure)
$news-picture-border-rad: 3px;
$news-big-picture-margin-bottom-sm: 17px;
//news title (header)
$news-item-title-line-height: 1.93rem;
$news-item-title-max-height: 5.79rem;
$news-item-title-letter-spacing: -0.22px;
//smaller news (article)
$news-item-small-border-rad: 8px;
$news-item-small-bg: #FFFFFF;
$news-item-small-box-shadow: 0 15px 14px -10px rgba(88,112,148,0.31);
//news description (paragraph)
$news-item-description-letter-spacing: -0.17px;
$news-item-description-line-height: 1.5rem;
$news-item-description-max-height: 3rem;

/**********COMMENTS SECTION**********/
//comments item (article)
$comments-item-border-rad: 3px;
$comments-item-bg: #fff;
$comments-item-box-shadow: 0 15px 14px -10px rgba(88,112,148,0.31);
//&:after of item article (arrow down)
$comments-item-arrow-border-width: 12px;
$comments-item-arrow-border-color: #fff;
$comments-item-arrow-bottom-position: -24px;
$comments-item-arrow-right-position: 24px;
//comments title (header)
$comments-title-font-family: $font-proximanova-bold;
$comments-title-font-size: 1.14rem;
$comments-title-line-height: 1.36rem;
//comments title:before style (double quote)
$comments-title-padd-left: 45px;
$comments-title-before-content: '”';
$comments-title-before-color: #9DC72D;
$comments-title-before-font-size: 6rem;
$comments-title-before-position-left: 0;
$comments-title-before-position-top: 100%;
$comments-title-before-font-family: arial;
//comments content (paragraph)
$comments-content-font-family: $font-proximanova-regular;
$comments-content-font-size: 0.93rem;
$comments-content-line-height: 1.26rem;

/**********LATEST SECTION**********/
//latest section
$latest-section-padd-top-xl: 72px;
$latest-section-padd-bottom-xl: 112px;
//latest ahead (div = title + show-more)
$latest-ahead-margin-bottom-desk: 26px;
//latest title (header)
$latest-title-letter-spacing: -0.49px;
$latest-title-font-size-mobile: 2rem;
$latest-title-line-height-mobile: 2.7rem;
$latest-title-font-size-desk: $h1-font-size;
$latest-title-line-height-desk: 3.71rem;
//latest show more (p + arrows)
$latest-all-font-family: $font-proximanova-bold;
$latest-all-font-size: 1.14rem;
$latest-all-line-height: 1.43rem;
$latest-all-letter-spacing: 0.16px;
$latest-all-color: $danger;
$latest-all-hover-color: darken($latest-all-color, 10%);//variables were not made for fa-icon position
//latest news (article)
$latest-item-border-rad: 8px;
$latest-item-bg: #fff;
$latest-item-box-shadow: 0 15px 14px -10px rgba(88,112,148,0.31);
$latest-item-padd-x: 23px;
//latest news content (div - upper part od article)
$latest-item-content-padd-y: 26px;
$latest-item-content-border-bottom: 1px solid #EBEBEB;
//content picture (figure)
$latest-item-figure-margin-bottom: 19px;
$latest-item-figure-border-rad: 3px;
//content description (header)
$latest-item-description-font-family: $font-ubuntu;
$latest-item-description-font-weight: 400;
$latest-item-description-font-color: #464646;
$latest-item-description-line-height: 1.64rem;
$latest-item-description-letter-spacing: -0.09px;
$latest-item-description-height: 8.2rem;
$latest-item-margin-bottom-mobile: 20px;
$latest-item-margin-bottom-desk: 26px;
//latest news info (div - lower part od article)
$latest-item-info-padd-top: 11px;
$latest-item-info-padd-bottom: 17px;
$latest-item-info-font-size: 0.86rem;
$latest-item-info-line-height: 1.29rem;
$latest-item-info-letter-spacing: 0.17px;
$latest-item-info-date-color: #AFAFAF;
$latest-item-info-comments-color: $danger;
//banner style
$banner-content-pic-margin-bottom: 11px;
$banner-content-description-height: 4.92rem;
//banner caption
$banner-caption-padd-top: 39px;
$banner-caption-padd-x: 12px;
$banner-caption-padd-bottom: 11px;
$banner-caption-border-rad: 3px;
$banner-caption-bg: linear-gradient(180deg, rgba(97,97,99,0) 0%, #000000 100%); //transform: scaleY(-1); not apllied, instead changed from 0deg to 180deg
//banner caption newspaper&time
$banner-caption-newspaper0time-font-family: $font-ubuntu;
$banner-caption-newspaper0time-font-weight: 500;
$banner-caption-newspaper0time-font-size: 0.86rem;
$banner-caption-newspaper0time-line-height: 1.14rem;
$banner-caption-newspaper0time-letter-spacing: 0.05px;
$banner-caption-time-color: $danger;
$banner-caption-newspaper-color: $white;
//banner caption comments
$banner-caption-comments-img-scale: scale(0.7);
$banner-caption-comments-number-position-left: 50%;
$banner-caption-comments-number-position-top: 27%;
$banner-caption-comments-translate-x: translateX(-50%);
$banner-caption-comments-number-font-family: $font-ubuntu;
$banner-caption-comments-number-font-weight: bold;
$banner-caption-comments-number-font-color: $white;
$banner-caption-comments-number-font-size: 0.5rem;
$banner-caption-comments-number-line-height: 0.71rem;

/**********SIGNUP SECTION**********/
$signup-section-padd-y-xl: 26px;
$signup-section-bg: #EAEAEA;
$signup-section-box-shadow: 0 15px 14px -10px rgba(88,112,148,0.31);
//info text
$signup-text-font-family: $font-adelle-bold;
$signup-text-color: $primary;
//$signup-text-font-size scaled from 1.93rem to 1.5rem because it will break into new line
$signup-text-font-size: 1.5rem;
$signup-text-line-height: 2.07rem;
$signup-text-letter-spacing: -0.29px;
//signup button
$signup-btn-padd-x: 72px;
$signup-btn-padd-y: 14px;
$signup-btn-border-rad: 3px;
$signup-btn-font-family: $font-proximanova-bold;
$signup-btn-font-color: $white;
$signup-btn-hover-font-color: $signup-btn-font-color;
$signup-btn-font-size: 1.07rem;
$signup-btn-line-height: 1.43rem;
$signup-btn-letter-spacing: 0.15px;

/*****************************
FOOTER VARIABLES
*****************************/
//footer background through bootsrap class in html
//footer style
$footer-padd-top-mob: 25px;
$footer-padd-bottom-mob: 20px;
$footer-padd-top-desk: 42px;
$footer-padd-bottom-desk: 34px;
//footer navigation
$footer-navigation-margin-bottom-desk: 33px;
$footer-navlink-font-family: $font-proximanova-bold;
$footer-navlink-font-color: $white;
$footer-navlink-hover-font-color: darken($footer-navlink-font-color, 25%);
$footer-navlink-font-size: 1rem;
$footer-navlink-line-height: 1.21rem;
$footer-navlink-letter-spacing: -0.15px;
$footer-navlink-padd-y: 5px;
$footer-navlink-padd-x: 15px;
//footer-social
$footer-sociallink-margin-x: 7px;
$footer-social-fa-color: $white;
$footer-social-fa-dimensions: 30px;
$footer-social-facebook-bg: #3b5998;
$footer-social-twitter-bg: #00acee;
$footer-social-linkedin-bg: #0077B5;
$footer-social-googleplus-bg: #DD4B39;
//footer copyright
$footer-copyright-font-color: $white;
$footer-copyright-font-family: $font-proximanova-regular;
$footer-copyright-font-size: 0.86rem;
$footer-copyright-line-height: 1rem;
$footer-copyright-letter-spacing: -0.13px;

/*****************************
SINGLE-PAGE VARIABLES
*****************************/
//single-news page desktop padding
$single-news-page-padd-top: 60px;
$single-news-page-padd-bottom: 87px;
//single news article
$single-news-article-margin-bottom-desk: 26px;
//single news header (upper part of single news item)
$single-nes-header-border-bottom: 1px solid #EBEBEB;
//single-news item info (author, date & comments)
$single-news-item-info-font-size: 0.86rem;
$single-news-item-info-line-height: 1.29rem;
$single-news-item-info-letter-spacing: 0.17px;
$single-news-item-info-date-color: #AFAFAF;
$single-news-item-info-comments-color: $danger;
$single-news-item-info-elements-margin: 25px;
//single-news title
$single-news-title-wrapper-margin-bottom: 26px;
$single-news-title-letter-spacing: -0.49px;
$single-news-title-font-size-mobile: 2rem;
$single-news-title-line-height-mobile: 2.7rem;
$single-news-title-font-size-desk: $h1-font-size;
$single-news-title-line-height-desk: 3.71rem;
//single-news item description
//font-family & font-weight allready inherited from body
$single-news-description-font-color: #464646;
$single-news-description-font-size: 1.43rem;
$single-news-description-line-height: 1.79rem;
$single-news-description-letter-spacing: -0.09px;
$single-news-description-margin-bottom: 27px;
//single-news item content
$single-news-item-content-letter-spacing: -0.17px;
//single news form title
//color, font-family, weight & size inherited
$single-news-title-line-height: 27px;
$single-news-title-letter-spacing: -0.22px;
//single-news all comments
$single-news-all-font-family: $latest-all-font-family;
$single-news-all-font-size: $latest-all-font-size;
$single-news-all-line-height: $latest-all-line-height;
$single-news-all-letter-spacing: $latest-all-letter-spacing;
$single-news-all-color: $latest-all-color;
$single-news-all-hover-color: $latest-all-hover-color;
//single-news form
$single-news-form-margin-bottom: 25px;
//form header
$single-news-form-ahead-margin-bottom-desk: 35px;
//single-news form item (form itself))
$single-news-form-item-font-family: $font-proximanova-regular;
$single-news-form-item-font-color: #333333;
$single-news-form-item-font-size: 1.14rem;
$single-news-form-item-line-height: 1.14rem;
$single-news-form-item-letter-spacing: 0.06px;
//form inputs
$single-news-input0textarea-border: none;
$single-news-input0textarea-border-rad: 3px;
$single-news-input0textarea-bg-color: $white;
//form button
$single-news-button-font-family: $font-ubuntu;
$single-news-button-font-weight: bold;
$single-news-button-font-size: 1rem;
$single-news-button-line-height: 1.36rem;
$single-news-button-letter-spacing: 0.17px;
$single-news-button-border-rad: 3px;
$single-news-button-padd-y: 13px;
$single-news-button-padd-x: 18px;
//comment textarea
$single-news-form-item-textarea-height: 19.35rem;
$single-news-form-item-textarea-line-height: 1.29rem;
//form check
$single-news-form-answer-height: 47px;
$single-news-form-answer-width: 104px;
//single comment
$single-news-comments-item-margin-bottom: 18px;
$single-news-comments-item-border-radius: 8px;
$single-news-comments-item-bg-color: $white;
$single-news-comments-item-box-shadow: 0 15px 14px -10px rgba(88,112,148,0.31);
//user picture (figure)
$single-news-comments-user-picture-dimensions: 45px;
//user name
$single-news-comments-user-name-font-family: $font-ubuntu;
$single-news-comments-user-name-font-weight: $font-weight-bold;
$single-news-comments-user-name-font-color: #161616;
$single-news-comments-user-name-font-size: 0.86rem;
$single-news-comments-user-name-line-height: 1.07rem;
$single-news-comments-user-name-letter-spacing: 0.26px;
//comment date
$single-news-comments-user-date-font-size: 0.71rem;
$single-news-comments-user-date-line-height: $latest-item-info-line-height;
$single-news-comments-user-date-letter-spacing: 0.14px;
$single-news-comments-user-date-color: $latest-item-info-date-color;
$single-news-comments-user-date-font-family: $latest-item-description-font-family;
$single-news-comments-user-date-font-weight: $latest-item-description-font-weight;
//comment content
//font-family, weight & color inherited from body
$single-news-comments-content-font-size: 0.86rem;
$single-news-comments-content-line-height: 1.21rem;
$single-news-comments-content-letter-spacing: -0.15px;
//all comments link & fa
$single-news-all-comments-margin-top: 31px;
$single-news-all-comments-color: $primary;
$single-news-all-comments-hover-color: lighten($single-news-all-comments-color, 20%);
/*single-news aside is generaly styled through .latest class, for separate styling .single-news-page-aside & bootrstrap classes were used*/

/*****************************
ABOUT-PAGE VARIABLES
*****************************/
$about-page-padd-top-desk: 60px;
$about-page-padd-bottom-desk: 87px;
$about-page-pic-border-rad: 3px;
$about-page-pic-bg-color: $white;
$about-page-pic-margin-bottom-desk: 31px;
//about-page-description font family & weight inherited from body, other properties shares with .single-news-description
$about-page-description-margin-bottom-desk: $single-news-description-margin-bottom;
$about-page-description-font-color: $single-news-description-font-color;
$about-page-description-font-size: $single-news-description-font-size;
$about-page-description-line-height: $single-news-description-line-height;
$about-page-description-letter-spacing: $single-news-description-letter-spacing;
//about-page-content font family & weight & size & line-height inherited from body, letter-spacing shares with .single-news-content
$about-page-content-letter-spacing: $single-news-item-content-letter-spacing;

/*****************************
CONTACT-PAGE VARIABLES
*****************************/
$contact-page-padd-top-desk: 60px;
$contact-page-padd-bottom-desk: 87px;
//contact title margin bottom since 768px
$contact-page-ahead-margin-bottom-desk: 53px;
//contact form style
//font-family & weight inherited from body, font color & size shared with single-news-form
$contact-form-margin-bottom-desk: 100px;
$contact-form-font-color: $single-news-form-item-font-color;
$contact-form-font-size: $single-news-form-item-font-size;
$contact-form-line-height: 1.71rem;
$contact-form-letter-spacing: -0.17px;
$contact-form-group-margin-bottom: 24px;
//contact inputs
$contact-form-textarea-height: 11.97rem;
$contact-form-input-border: 1px solid #DCD8D7;
$contact-form-input-border-rad: 2px;
$contact-form-input-bg-color: transparent;
//contact button
$contact-form-btn-border-rad: 3px;
$contact-form-btn-font-family: $font-proximanova-bold;
$contact-form-btn-font-size: 1.07rem;
$contact-form-btn-line-height: 1.43rem;
$contact-form-btn-letter-spacing: 0.15px;
$contact-form-btn-padd-top: 12px;
$contact-form-btn-padd-bottom: 15px;
$contact-form-btn-padd-x: 72px;
